<header class="header">
  <h1>Nick Tooley</h1>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "My Projects", portfolio_path %></li>
    <li><a href="#">About Myself</a></li>
    <li><a href="#">Contact Me</a></li>
  </ul>
</header>