<main class="welcome">
  <img src="https://i.ibb.co/SXxqYcGQ/task-manager.jpg" />
  <h2>Welcome To My Portfolio</h2>
  <p>Welcome to my web developer portfolio, where you can view examples of my work for future employment opportunities. This Portfolio will tell you all about me and what I can provide for future employers. This Portfolio has a form that you can fill out to contact me about future work employments. There are also links to GitHub, LinkedIn, Twitter Accounts below.
  </p>
  <button>View My Work</button>
</main>